{% extends 'base.html' %}

{% block headheading %}
    Home
{% endblock headheading %}

{% block main %}
    <div style='padding:1rem 2rem; color: orangered; text-align:center'>
        <h1>Hello this is made by kartik saxena, made using django. sorry for no designing cuz i just focussed on the backend. But hope you like it.</h1>
        <h1 style='padding:1rem 2rem; color: red;'>This is a student record system.</h1>
        <button style='margin:2rem'><a href="show/">SHOW ALL</a></button>
    </div>
{% endblock main %}